<div class='front'>
	<div class='wrapper'>
		<div class='search'>
			<div>
				<h1>Read a directory</h1>
			</div>

			<div class='search-bar'>
                   {{#each directoryList}} 
                    <div class="">    
					 {{#if isDirectory}}
                      <img id="imgMini" class="column-img"  src="/public/icons/16673999841535958152.svg" alt="">
                       <a href='http://localhost:3000/reader?page=../{{this.name}}'> <div>{{this.name}}</div></a>
                    {{/if}}
				
			        {{/each}}
            </div>
		</div>

	</div>
</div>