<nav class='navigation'>
	<div class='nav-bar'>
		<div class='nav-wrapper'>
			<a class='nav-bar__link material-bubble' href='http://localhost:3000/main'>Home</a>
			<a class='nav-bar__link material-bubble' href='http://localhost:3000/profiles'>Profiles</a>
			<a class='nav-bar__link material-bubble' href='http://localhost:3000/addProfile'>Add Profile</a>
			<a class='nav-bar__link material-bubble' href='http://localhost:3000/'>Docs</a>
		</div>
	</div>
</nav>

<div class='wrapper'>
	<div class='search'>
		<div>
			<h1>Read a directory</h1>
		</div>
		<div class='search-bar'>
			<form method='POST' action='/processImages'>
				{{#each directoryList}}
					<input type='checkbox' id='{{this.name}}' name='{{this.name}}' />
					<p>{{this.name}}</p>
				{{/each}}
				<input type='submit' value='run' />
			</form>
		</div>
	</div>
</div>