* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	position: relative;
	overflow-x: hidden;
	font-size: 1.6rem;
	font-family: 'Raleway', sans-serif;
	background-color: #eabf9f;
}

a {
	color: #5f6caf;
}

.wrapper {
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	margin: 0 auto;
	height: 100vh;
	width: 100%;
	max-width: 1200px;
	background-color: #eabf9f;
}

.front {
	width: 100vw;
	height: 100vh;
	background-color: #eabf9f;
}

.navigation {
	position: sticky;
	top: 0;
	grid-row: 1/2;
	grid-column: 1/-1;
	background-color: #ff8364;
	z-index: 1000;
	width: 100%;
}

.nav-wrapper {
	max-width: 1200px;
}

.nav-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 4rem;
	background-color: #1e212d;
}

.nav-bar__link {
	padding: 1rem;
	color: #ff8364;
	text-decoration: none;
}

.nav-bar__link:hover {
	color: red;
}

.search {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	grid-column: 3/11;
	grid-row: 4/-2;
}

.search-bar {
	display: inline-block;
	min-height: 5%;
	width: 100%;
	background-color: #faf3e0;
	border: 3px solid black;
	border-radius: 20px;
}
